h5 {
    font-family: 'Permanent Marker', cursive;
    color: green;
    
}

h3, a { 
    font-family: 'Permanent Marker', cursive;
    color: green; 
} 

h1 {
    font-family: 'Permanent Marker', cursive;
    color: green; 
    text-align: center;
    text-decoration: underline;  
} 

p, 
.form-group {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Courgette', cursive;
    color:black;
}
    
#lostTable{
    list-style: none;
}

#foundTable {
    list-style: none;
}

body {
    background-image: url(../images/cracked-wood-pole2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    float: right;
    color: white;
}

#foundHead {
    text-indent: 15%;
}

 .form-control {
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Just Me Again Down Here', cursive;
    color:black;
    font-weight: bold;
    width: 80%;
}

input[type=text],
input[type=email],
textarea {
    width: 80%;
    padding: 12px 20px;
    margin-left: 30px;
    box-sizing: border-box;
}

#main_body{
    background-image: url(../images/paperTape.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 155px;
    width: 58%;
    margin-bottom: 70px;
    
}

/* Start http://www.cursors-4u.com for pencil mouse cursor*/ * 
{cursor: url(http://ani.cursors-4u.net/others/oth-9/oth838.cur), auto !important;} /* End http://www.cursors-4u.com */