<h1>Lost-and-Found</h1>
<h3>Found</h3>

<ul id="foundTable">
  {{#each lost}}
  <li>

    <div class="card">
      <h5 class="card-header">
        <p>
          <span class="list-group-item">{{this.thing}}</p>
        </span>
      </h5>
      <div class="card-body">
                
        <p class="card-text">
          <p>
            <span class="list-group-item">Belongs to: {{this.searcher_name}}</p>
          </span>
        </p>

        <p class="card-text">
          <p>
            <span class="list-group-item">Found: {{this.found_date}}</p> <!--add to sql-->
          </span>
        </p>

        <button data-id="{{this.id}}" class="btn btn-primary">Found!</button>

      </div>
    </div>

  </li>
  {{/each}}
</ul>